footer {
    text-align: right;
    width: 100%;
    bottom: 5px;
    right: 5px;
    position: relative;
}

footer img {
    width: 30px;
    height: 18px;
}

.navbar-right {
    padding-right: 20px;
}

.lost_found_block {
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
    display: block;
}

.lost_found_block:hover {
    border: none;
    border-right: 5px solid lightgrey;
    border-bottom: 5px solid lightgrey;
}

.content {
    margin: 10px;
}

.wrapper {
    height: auto;
    min-height: 95%;
}

.error {
    color: red;
    background-color: transparent;
    margin-top: 2%;
    margin-left: -15px;
}

.input_text {
    width: 150px;
}

.paragraph {
    margin-bottom: 10px;
}

input {
    text-align: left;
}


.selection {
    clear: both;
    display: block;
    margin-bottom: 30px;
}

.bottom_margin {
    margin-bottom: 50px;
}

.choice_title {
    font-size: 1.2em;
}

.choices_list {
    clear: both;
    display: block;
}

.choice {
    display: block;
    float: left;
    margin: 10px;
}

.input_region {
    clear: both;
    display: inline-block;
}

.flash_message {
    width:100%;
    text-align:center;
    padding:5px;
    position:fixed;
    top:0;
    left:0;
    background-color:yellow;
    font-weight:bold;
}

.redirect_link {
    display: block;
}

.nav_link {
    margin-top: 3%;
    padding: 2%;
    border: 5px solid lightgrey;
    border-radius: 15%;
    font-size: 2em;
    text-align: center;
}


.add_new {
    float:left;
    margin-left: 20%;
}

.view_all {
    float:right;
    margin-right: 20%;
}


.nav_link:hover {
    border: none;
    border-right: 5px solid lightgrey;
    border-bottom: 5px solid lightgrey;
}

.background_pic {
    width: 60%;
    height: 60%;
    margin-left: 20%;
    margin-top: 3%;
    opacity: 0.8;
}

ul {
    list-style-type: none;
}

.sub_title {
    font: italic 1.2em "Comic Sans MS", cursive;
}

.inline_block {
    display: inline-block;
}

.input_group {
    margin-left: 2%;
}

.input_section {
    margin-top: 1%;
    margin-left: 0.5%;
}

.post {
    clear: both;
    padding: 2%;
    border: solid 1px grey;
    border-radius: 5%;
    display: inline-block;
    width: 300px;
    height: 350px;
    position: relative;
    overflow: hidden;
    margin: 5px;
}

.claim {
    float: right;
    position: relative;
}

.posts {
    clear: both;
    display: inline-block;
}

.tag_block {
    border: 1px solid lightblue;
    background-color: lightblue;
    border-radius: 15%;
    margin: 1px 2px;
    padding: 1px 5px;
}